.section-title {
    color: #1f1616;
    padding:0%;
  }
   
  .card {
    margin-bottom: 30px;
    
  }
   
  .card img {
    max-width: 100%;    
  }
   
  .card-body {
    text-align: center;
    background-color: rgb(182, 182, 163);
    margin: 0px;
    
  }
   
  .card-title {
    color: #2d2525;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    margin-bottom: 0px;
  }
   
  .btn-primary {
    background-color: #f31414;
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
  }